# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
venv*/

# Datasets (Large folders and archives)
4th_test/
2nd_test/
IMS/
*.zip
*.rar
*.tar.gz

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
